h2 {
  text-align: center;
  color: #001e62;
  font-family: sans-serif;
}

.page {
  padding: 10%;
}
.item {
  text-align: center;
  background-color: rgb(215, 214, 214);
}

.item img {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.container button {
  background-color: #001e62;
  color: white;
  padding: 8px 15px;
  border-radius: 7px;
}

.item:hover button {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .page {
    padding: auto;
  }
}
